
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&family=Chonburi&family=Cinzel:wght@500&family=Italiana&family=Julius+Sans+One&family=Montserrat:wght@100;200&family=Orbitron:wght@700&family=Poppins:wght@100;200&family=Raleway:wght@100&display=swap');
.close {
    position: absolute;
    top: -23px;
    right: -30px;
    background: none;
    border: none;
    cursor: pointer;
    color:#CC0000;
  }

.close i {
    margin-right: 5px;
  }

.close:hover {
    background-color: #fafafa;
  }

  /* --------- ABOUT SECTION ---------- */

.about {
    font-family: 'Julius Sans One', sans-serif;
    font-weight: bold;
    font-size: 40px;
    text-align:center;
    margin: 20px auto;
    margin-top: 70px;
    max-width: 600px;
    color:black;
}

.par{
    font-family: 'Poppins', sans-serif;
    font-weight: 900;
    font-size: 20px;
}

  /* --------- EDUCATION SECTION ---------- */

.education {
    margin-bottom: 20px;
}

.ed {
    font-family: 'Julius Sans One', sans-serif;
    font-weight: bold;
    font-size: 80px;
    margin-bottom: 20px;
    display: flex;
    align-items: center; 
}

.stack{
    display: flex;
    flex-direction: column;
}

.ed::before,
    .ed::after {
        content: "";
        display: block;
        width: 100%;
        height: 2px;
        background-color: #690202; 
        margin-top: 10px; 
    }

.edw{
    font-size: 15px;
    font-weight: 700;
}

.deg{
    font-family: 'Poppins', sans-serif;
    font-weight: 900;
    font-size: 20px;
}

/* --------- SKILLS SECTION ---------- */

.skill {
    font-family: 'Julius Sans One', sans-serif;
    font-weight: bold;
    font-size: 75px;
    margin-bottom: 20px;
    display: flex;
    align-items: center; 
}

.skill::before,
    .skill::after {
        content: "";
        display: block;
        width: 100%;
        height: 2px;
        background-color: #690202; 
        margin-top: 30px; 
    }

.sdw{
        font-size: 15px;
        font-weight: 700;
        margin-top: 5px;
    }
    

.skills{
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
    justify-content: space-around;
}

.tech {
    font-family: 'Julius Sans One', sans-serif;
    font-weight: bold;
    margin-bottom: 20px;
}

.tlist h2{
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    letter-spacing: 1px;
    margin-top: 40px;
    margin-bottom: 5px;
    font-size: 15px;
    text-align: left;
}

.progress-bar{
    background: #fafafa;
    width: 100%;
    height: 10px;
}

.progress-bar div{
    height: 10px;
    width: 0%;
    background: #CC0000;
}

.progress-bar div span{
    height: 30px;
    width: 30px;
    font-size: 12px;
    border: 1px solid #fafafa;
    background: #fafafa;
    float: right;
    margin-top: -10px;
    margin-right: -20px;
    color: black;
    display: flex;
    align-items:center;
    justify-content: center;
}

.python{
    animation: python 1s linear forwards;
}

.java{
    animation: java 1s linear forwards;
}

.c{
    animation: c 1s linear forwards;
}

.hc{
    animation: hc 1s linear forwards;
}

.js{
    animation: js 1s linear forwards;
}

.sql{
    animation: sql 1s linear forwards;
}

@keyframes python{
    100%{
        width: 90%;
    }
}

@keyframes java{
    100%{
        width: 60%;
    }
}

@keyframes c{
    100%{
        width: 70%;
    }
}

@keyframes hc{
    100%{
        width: 90%;
    }
}

@keyframes js{
    100%{
        width: 75%;
    }
}

@keyframes sql{
    100%{
        width: 70%;
    }
}

/* --------- SOFT SKILLS SECTION ---------- */


.soft {
    font-family: 'Julius Sans One', sans-serif;
    font-weight: bold;
    margin-bottom: 20px;
}

.slist h2{
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    letter-spacing: 1px;
    margin-top: 40px;
    margin-bottom: 5px;
    font-size: 15px;
    text-align: left;
}

.st {
    display: inline-block;
    vertical-align: middle;
    margin-left: 10px;
  }
  
.slist i {
    color: #CC0000;
    font-size: 30px;
    vertical-align: middle;
  }