@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&family=Chonburi&family=Italiana&family=Julius+Sans+One&family=Orbitron:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&family=Chonburi&family=Cinzel:wght@500&family=Italiana&family=Julius+Sans+One&family=Montserrat:wght@100;200&family=Orbitron:wght@700&family=Poppins:wght@100;200&family=Raleway:wght@100&display=swap');


    /* encompasses everything in the home page  */
    body {
        display: flex;
        justify-content: center;
        align-items: center;
        background-size: cover;
        height: 100%;
        width: 100%;
        margin: 0;
        padding: 0;
        overflow: hidden;
      }

     /* ------------------- LEFT ANDREA SECTION ------------------- */
    .container {
        position: relative;
        width: 100%;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        z-index: 9999;
      }

    /* {% comment %} -------------- PICTURE --------------- {% endcomment %} */
      
    .andrea {
        position: relative;
        margin-top: 30px;
        margin-bottom: 30px;
        /* top: 30px;
        left: 30px; */
        height: 70%;   
        display: flex;  
        justify-content: center;
        z-index: 2; 
    }

    /* {% comment %} ------------------- TEXT TYPING ANIMATION -------------------- {% endcomment %} */
    .description {
        display: flex;
        z-index: 2;
        position: absolute;
        /* top: 570px;
        left: -30px; */
        width: 100%; 
        font-family: 'Julius Sans One', sans-serif;
        font-weight: 700;
        margin-bottom: 15px;
    }

    .description .list {
        text-align: center;
        margin-left: 50px;
        line-height: 30px;
        height: 30px;
        overflow: hidden;
    }

    .list li {
        list-style: none;
        color: black;
        font-size: 20px;
        font-weight: 500;
        position: relative;
        top: 0;
        animation: slide 9s steps(3) infinite;
    }

    @keyframes slide{
        100%{
            top: -90px; 
            /* {% comment %} might have to play with this value  {% endcomment %} */
        }
    }

    .list li {
        position: relative;
    }

    .list li::after{
        content: " ";
        position: absolute;
        left: 0;
        height: 37px;
        width: 100%;
        background-color: #fafafa;
        border-left: 2px solid black;
        animation: typing 3s steps(11) infinite;
    }

    @keyframes typing{
        40%,
        60%{
            left: calc(100% + 30px);
        }
        100%{
            left: 0;
        }
    }

    /* {% comment %} ------------ CONTACT LINKS ------------- {% endcomment %} */
    .links{
      position: relative;
      display: flex;
      justify-content: space-evenly;
      justify-items: row;
      height: 100px;
      margin-bottom: 30px;
      font-size: 24px;
      z-index: -1;
      top: 75px;
    }

    .email i{
      cursor: pointer;
    }

    .empopup {
      display: none;
      position: fixed;
      z-index: 9999;
      top: 7%;
      left: 66.7%; 
      /* 66.56 */
      width: 850px;
      height: 690px;
      transform: translateX(-100%);
      background-color: #fafafa;
      border: 5px solid #690202;
      padding: 20px;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
      animation: slideIn 0.5s forwards;
      overflow: auto;
    }

    #emailPopup{
      z-index: 9999;
    }

    #pn{
      position: absolute;
      left:320%;
      bottom: calc(100% + 10px);
      transform: translateX(-50%);
      background-color: #fafafa;
      border: #CC0000 4px solid;
      color: black;
      white-space: nowrap;
      padding: 5px 10px;
      border-radius: 5px;
      font-family: "Julius Sans One", sans-serif;
      visibility: hidden;
      opacity: 0;
      transition: opacity 0.5s ease;
    }

    #pn::before{
      content:"";
      position: absolute;
      left: 2px;
      top: 100%;
      transform: translateX(-90%) rotate(90%);
      border: 9px solid transparent;
      border-top-color: #CC0000
    }

    .phone {
      position: relative;
      display: inline-block;
    }

    .phone i:hover + #pn{
      bottom:calc(100% + 7px);
      visibility: visible;
      opacity: 1;
    }

    /* {% comment %} ------------------- ABOUT SECTION ------------------- {% endcomment %} */

    /* buttons */
    .info{
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        height: 100vh;
        font-size: 24px;
        left: 40%;
        text-align: center;
        z-index: -1;
    }

    .resume{
      z-index: -1;
    }

    .about{
      z-index: -1;
    }

    .experience{
      z-index: -1;
    }

    button {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 150px;
      height: 150px;
      border: none;
      background-color: #fafafa;
      cursor: pointer;
      border: 5px solid #690202;
      z-index: -1;
    }

    button i {
      font-size: 24px;
      margin-bottom: 10px;
    }
    
    button span {
      font-size: 20px;
      font-weight: 1200;
      font-family:'Julius Sans One', sans-serif;
    }

    /* about button */

    #popupContainer {
      position: fixed;
      top: 0;
      left: 0;
      width: 0;
      height: 0;
      overflow: hidden;
      transition: width 0.3s ease, height 0.3s ease;
      z-index: 3;
    }
    
    #popupContent {
      background-color: #ffffff;
      width: 0;
      height: 0;
      transition: width 0.3s ease, height 0.3s ease;
    }

    
    /* ------------------- ABOUT POPUP -------------------- */
    .about {
      position: relative;
    }
    
    .popup {
      display: none;
      position: fixed;
      z-index: 1;
      top: 7%;
      left: 66.7%; 
      /* 66.56 */
      width: 850px;
      height: 690px;
      transform: translateX(-100%);
      background-color: #fafafa;
      border: 5px solid #690202;
      padding: 20px;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
      animation: slideIn 0.5s forwards;
      overflow: auto;
    }

    @keyframes slideIn {
      0%{
        transform: translateX(100%);
      }
      100% {
        transform: translateX(-50%);
      }
    }

    @keyframes slideOutRight {
      0% {
        transform: translateX(0);
      }
      100% {
        transform: translateX(100%);
      }
    }

    /* --------------------- EXPERIENCE POPUP ----------------------- */

    .experience {
      position: relative;
    }
    
    .epopup {
      display: none;
      position: fixed;
      z-index: 1;
      top: 7%;
      left: 66.7%; 
      /* 66.56 */
      width: 850px;
      height: 690px;
      transform: translateX(-100%);
      background-color: #fafafa;
      border: 5px solid #690202;
      padding: 20px;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
      animation: slideIn 0.5s forwards;
      overflow: auto;
    }

    @keyframes slideIn {
      0%{
        transform: translateX(100%);
      }
      100% {
        transform: translateX(-50%);
      }
    }

    @keyframes slideOutRight {
      0% {
        transform: translateX(0);
      }
      100% {
        transform: translateX(100%);
      }
    }

    /* --------------------- RESUME POPUP ----------------------- */

    .resume {
      position: relative;
    }
    
    .rpopup {
      display: none;
      position: fixed;
      z-index: 1;
      top: 7%;
      left: 66.7%; 
      /* 66.56 */
      width: 850px;
      height: 690px;
      transform: translateX(-100%);
      background-color: #fafafa;
      border: 5px solid #690202;
      padding: 20px;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
      animation: slideIn 0.5s forwards;
      overflow: auto;
    }

    @keyframes slideIn {
      0%{
        transform: translateX(100%);
      }
      100% {
        transform: translateX(-50%);
      }
    }

    @keyframes slideOutRight {
      0% {
        transform: translateX(0);
      }
      100% {
        transform: translateX(100%);
      }
    }
    /* .modal{
      padding: 1em;
      max-width: 50ch;
    }

    .modal > * {
        margin: 0 0 0.25em 0;
    } */
    
