@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&family=Chonburi&family=Italiana&family=Julius+Sans+One&family=Orbitron:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&family=Chonburi&family=Cinzel:wght@500&family=Italiana&family=Julius+Sans+One&family=Montserrat:wght@100;200&family=Orbitron:wght@700&family=Poppins:wght@100;200&family=Raleway:wght@100&display=swap');


    /* encompasses everything in the home page  */
    body {
        display: flex;
        justify-content: center;
        align-items: center;
        background-size: cover;
        height: 100%;
        width: 100%;
        margin-top: 0;
        padding-top: 0;
        overflow: hidden;
      }

     /* ------------------- LEFT ANDREA SECTION ------------------- */
    .container {
        position: relative;
        width: 100%;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
      }

    .center{
        display:flex;
        flex-direction: row;
        flex-shrink: 1;
    }

    .rectangle{
        width: 25%;
        min-width: 35%;
        height: 96.75%;
        background-color: #fafafa;
        position: absolute;
        top: 0;
        left: 1.2%;
        border: 15px solid #690202;
        z-index: 999;
    }

    /* {% comment %} -------------- PICTURE --------------- {% endcomment %} */
      
    .andrea {
        position: relative;
        background-image: url('/static/images/andrea.jpg');
        margin-top: 5%;
        margin-bottom: 5%;
        /* top: 30px;
        left: 30px; */
        height: 70%;
        display: flex;  
        justify-content: center;
        background-size: cover;
        margin: 20px;
    }

    /* {% comment %} ------------------- TEXT TYPING ANIMATION -------------------- {% endcomment %} */
    .description {
        display: flex;
        justify-content: center;
        position: absolute;
        /* top: 570px; */
        left: -20px; 
        width: 100%; 
        font-family: 'Julius Sans One', sans-serif;
        font-weight: 700;
        margin-bottom: 15px;
    }

    .description .list {
        text-align: center;
        line-height: 30px;
        height: 30px;
        overflow: hidden;
    }

    .list li {
        list-style: none;
        color: black;
        font-size: 20px;
        font-weight: 500;
        position: relative;
        top: 0;
        animation: slide 9s steps(3) infinite;
    }

    @keyframes slide{
        100%{
            top: -90px; 
            /* {% comment %} might have to play with this value  {% endcomment %} */
        }
    }

    .list li {
        position: relative;
    }

    .list li::after{
        content: " ";
        position: absolute;
        left: 0;
        height: 37px;
        width: 100%;
        background-color: #fafafa;
        border-left: 2px solid black;
        animation: typing 3s steps(11) infinite;
    }

    @keyframes typing{
        40%,
        60%{
            left: calc(100% + 30px);
        }
        100%{
            left: 0;
        }
    }

    /* {% comment %} ------------ CONTACT LINKS ------------- {% endcomment %} */
    .links{
      position: relative;
      display: flex;
      justify-content: space-evenly;
      justify-items: row;
      height: 100px;
      margin-bottom: 30px;
      font-size: 24px;
      top: 75px;
    }

    .email i{
      cursor: pointer;
    }

    .email i:hover{
      animation: spinAndBreathe 1.5s infinite;
    }

    @keyframes spinAndBreathe{
      0%, 100%{
        transform: scale(1) rotate(0deg);
      }
      50%{
        transform: scale(1.2) rotate(360deg);
      }
      100%{
        transform: scale(1) rotate(360deg);
      }
    }

    .empopup {
      display: none;
      position: fixed;
      top: 7%;
      z-index: 999;
      left: 67.6%;
      width: 55%;
      height: 80%;
      transform: translateX(-100%);
      background-color: #fafafa;
      border: 5px solid #690202;
      padding: 20px;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
      animation: slideIn 0.5s forwards;
      overflow: auto;
    }

    .linkedin i:hover{
      animation: breathe 1.5s infinite ease-in-out;
    }

    .github i:hover{
      animation: breathe 1.5s infinite ease-in-out;
    }

    @keyframes breathe{
      0%, 100%{
        transform: scale(1);
      }
      50%{
        transform: scale(1.2);
      }
    }

    #pn{
      position: absolute;
      left:320%;
      bottom: calc(100% + 10px);
      transform: translateX(-50%);
      background-color: #fafafa;
      border: #CC0000 4px solid;
      color: black;
      white-space: nowrap;
      padding: 5px 10px;
      border-radius: 5px;
      font-family: "Julius Sans One", sans-serif;
      visibility: hidden;
      opacity: 0;
      transition: opacity 0.5s ease;
    }

    #pn::before{
      content:"";
      position: absolute;
      left: 2px;
      top: 100%;
      transform: translateX(-90%) rotate(90%);
      border: 9px solid transparent;
      border-top-color: #CC0000
    }

    .phone {
      position: relative;
      display: inline-block;
    }

    .phone i:hover + #pn{
      bottom:calc(100% + 7px);
      visibility: visible;
      opacity: 1;
      cursor:  pointer;
      background-color: rgb(234, 215, 215);
    }

    .phone i:hover {
      animation: shake 0.5s infinite;
      cursor: pointer;
    }

    @keyframes shake {
      0% { transform: translate(1px, 1px) rotate(0deg) scaleX(-1) scale(1); }
      10% { transform: translate(-1px, -2px) rotate(-1deg) scaleX(-1); }
      20% { transform: translate(-3px, 0px) rotate(1deg) scaleX(-1); }
      30% { transform: translate(3px, 2px) rotate(0deg) scaleX(-1); }
      40% { transform: translate(1px, -1px) rotate(1deg) scaleX(-1); }
      50% { transform: translate(-1px, 2px) rotate(-1deg) scaleX(-1) scale(1.1); }
      60% { transform: translate(-3px, 1px) rotate(0deg) scaleX(-1); }
      70% { transform: translate(3px, 1px) rotate(-1deg) scaleX(-1); }
      80% { transform: translate(-1px, -1px) rotate(1deg) scaleX(-1); }
      90% { transform: translate(1px, 2px) rotate(0deg) scaleX(-1); }
      100% { transform: translate(1px, -2px) rotate(-1deg) scaleX(-1) scale(1); }
    }

    /* {% comment %} ------------------- ABOUT SECTION ------------------- {% endcomment %} */

    /* buttons */
    .info{
        position: absolute;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        height: 100vh;
        font-size: 24px;
        right: 100px;
        top: .5%;
        text-align: center;
        overflow: none;
    }

    button {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 150px;
      height: 150px;
      border: none;
      background-color: #fafafa;
      cursor: pointer;
      border: 5px solid #690202;
      position: relative;
    }

    button i {
      font-size: 24px;
      margin-bottom: 10px;
    }
    
    button span {
      font-size: 20px;
      font-weight: 1200;
      font-family:'Julius Sans One', sans-serif;
    }

    button:hover {
      background-color:rgb(234, 215, 215);
    }

    /* about button */

    #popupContainer {
      position: fixed;
      top: 0;
      left: 0;
      width: 0;
      height: 0;
      overflow: hidden;
      transition: width 0.3s ease, height 0.3s ease;
      z-index: 3;
    }
    
    #popupContent {
      background-color: #ffffff;
      width: 0;
      height: 0;
      transition: width 0.3s ease, height 0.3s ease;
    }

    
    /* ------------------- ABOUT POPUP -------------------- */
    .about {
      position: relative;
    }
    
    .popup {
      display: none;
      position: fixed;
      top: 7%;
      left: 67.4%;
      width: 55%;
      height: 80%;
      transform: translateX(-100%);
      background-color: #fafafa;
      border: 5px solid #690202;
      padding: 20px;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
      animation: slideIn 0.5s forwards;
      overflow: auto;
      z-index: 2;
    }

    @keyframes slideIn {
      0%{
        transform: translateX(100%);
      }
      100% {
        transform: translateX(-50%);
      }
    }

    @keyframes slideOutRight {
      0% {
        transform: translateX(0);
      }
      100% {
        transform: translateX(100%);
      }
    }

    /* --------------------- EXPERIENCE POPUP ----------------------- */

    .experience {
      position: relative;
    }
    
    .epopup {
      display: none;
      position: fixed;
      top: 7%;
      left: 67.4%;
      width: 55%;
      height: 80%;
      transform: translateX(-100%);
      background-color: #fafafa;
      border: 5px solid #690202;
      padding: 20px;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
      animation: slideIn 0.5s forwards;
      z-index: 2;
      overflow: auto;
    }

    @keyframes slideIn {
      0%{
        transform: translateX(100%);
      }
      100% {
        transform: translateX(-50%);
      }
    }

    @keyframes slideOutRight {
      0% {
        transform: translateX(0);
      }
      100% {
        transform: translateX(100%);
      }
    }

    /* --------------------- RESUME POPUP ----------------------- */

    .resume {
      position: relative;
    }
    
    .rpopup {
      display: none;
      position: fixed;
      top: 7%;
      left: 67.4%;
      width: 55%;
      height: 80%;
      transform: translateX(-100%);
      background-color: #fafafa;
      border: 5px solid #690202;
      padding: 20px;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
      animation: slideIn 0.5s forwards;
      z-index: 2;
      overflow: auto;
    }

    @keyframes slideIn {
      0%{
        transform: translateX(100%);
      }
      100% {
        transform: translateX(-50%);
      }
    }

    @keyframes slideOutRight {
      0% {
        transform: translateX(0);
      }
      100% {
        transform: translateX(100%);
      }
    }

    @media only screen and (min-width:641px) and (max-width:1060px){
      .body{
        overflow: visible;
        padding-bottom: 200px;
        height:100%;
      }

      .container {
        overflow: scroll;
      }

      .center{
          display:flex;
          flex-direction: column;
      }

      .rectangle{
          width: 75%;
          left: 8%;
          margin: 0 auto;
      }

      .info{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        width: 50%;
        top: 105%;
        flex-wrap: wrap;
        height: 50vh;
        gap: 20px;
        right: 25%;
        z-index: 1;
        padding-bottom: 250px;
      }

      .popup{
        left: 17.5%;

      }

      .epopup{
        left: 17.5%;
      }

      .empopup{
        left: 17.5%;
      }

      .rpopup{
        left: 17.5%;
      }

      @keyframes slideIn {
        0%{
          transform: translateY(50%);
        }
        100% {
          transform: translateY(7%);
        }
      }
  
      @keyframes slideOutRight {
        0% {
          transform: translateY(0);
        }
        100% {
          transform: translateY(100%);
        }
      }
    }


    @media only screen and (min-width:508px) and (max-width: 640px) {
      /* Styles for medium-sized screens */
      .body{
        overflow: visible;
        height: 100%;
        padding-bottom: 200px;
      }

      .container {
        overflow: scroll;
      }

      .center{
          display:flex;
          flex-direction: column;
      }

      .rectangle{
          width: 75%;
          left: 8%;
          margin: 0 auto;
      }

      .info{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        width: 50%;
        top: 105%;
        flex-wrap: wrap;
        height: 50vh;
        gap: 20px;
        right: 25%;
        padding-bottom: 250px;
      }

      .popup{
        left: 17.5%;

      }

      .epopup{
        left: 17.5%;
      }

      .empopup{
        left: 17.5%;
      }

      .rpopup{
        left: 17.5%;
      }

      @keyframes slideIn {
        0%{
          transform: translateY(50%);
        }
        100% {
          transform: translateY(7%);
        }
      }
  
      @keyframes slideOutRight {
        0% {
          transform: translateY(0);
        }
        100% {
          transform: translateY(100%);
        }
      }
    }

    @media only screen and (max-width: 507px) {
      /* Styles for small screens */
      .body{
        overflow: visible;
        height: 100%;
        padding-bottom: 200px;
      }

      .container {
        overflow: scroll;
      }

      .center{
          display:flex;
          flex-direction: column;
      }

      .rectangle{
          width: 90%;
          margin: 0 auto;
      }

      .info{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        width: 50%;
        top: 105%;
        flex-wrap: wrap;
        height: 50vh;
        gap: 20px;
        right: 25%;
        padding-bottom: 250px;
      }

      .popup{
        left: 12%;
        width: 65%;

      }

      .epopup{
        left: 12%;
        width: 65%;
      }

      .empopup{
        left: 12%;
        width: 65%;
        top: 10%;
      }

      .rpopup{
        left: 12%;
        width: 65%;
      }

      @keyframes slideIn {
        0%{
          transform: translateY(50%);
        }
        100% {
          transform: translateY(7%);
        }
      }
  
      @keyframes slideOutRight {
        0% {
          transform: translateY(0);
        }
        100% {
          transform: translateY(100%);
        }
      }
    }