.close {
    position: absolute;
    top: -23px;
    right: -30px;
    background: none;
    border: none;
    cursor: pointer;
    color:#CC0000;
  }

.close i {
    margin-right: 5px;
  }

body{
  overflow: hidden;
  } 

.resume {
    font-family: 'Julius Sans One', sans-serif;
    font-weight: bold;
    font-size: 40px;
    text-align:center;
    margin: 20px auto;
    margin-top: 70px;
    max-width: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.pdf{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pdf img {
  border: 3px solid #690202;
}

.rb{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 160px;}

.style{
  height: 70px;
  width: 200px;
}

.inside {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px auto;
  font-size: 10px;
}