<!DOCTYPE html>
<html>
<head>
  <title>Andrea Lopez</title>
  <link rel="stylesheet" type="text/css" href="desktop.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

  <style>
    @import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&family=Chonburi&family=Italiana&family=Julius+Sans+One&family=Orbitron:wght@700&display=swap');

    {% comment %} encompasses everything in the home page {% endcomment %}
    body {
        display: flex;
        justify-content: center;
        align-items: center;
        background-image: url('bu-wallpaper.jpeg');
        background-size: cover;
        height: 100%;
        width: 100%;
        margin: 0;
        padding: 0;
        overflow: hidden;
      }

    {% comment %} ------------------- LEFT ANDREA SECTION ------------------- {% endcomment %}
    .container {
        position: relative;
        width: 100%;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
      }

    {% comment %} -------------- PICTURE --------------- {% endcomment %}
      
    .andrea {
        position: absolute;
        top: 30px;
        left: 120px;
        width: 100%;
        height: 70%;   
        display: flex;  
        z-index: 2; 
    }

    {% comment %} ------------------- TEXT TYPING ANIMATION -------------------- {% endcomment %}
    .description {
        display: flex;
        z-index: 2;
        position: absolute;
        top: 725px;
        left: 100px;
        width: 100%; 
        font-family: 'Julius Sans One', sans-serif;
        font-weight: 700;
    }

    .description .list {
        text-align: center;
        margin-left: 50px;
        line-height: 30px;
        height: 30px;
        overflow: hidden;
    }

    .list li {
        list-style: none;
        color: black;
        font-size: 20px;
        font-weight: 500;
        position: relative;
        top: 0;
        animation: slide 9s steps(3) infinite;
    }

    @keyframes slide{
        100%{
            top: -90px; 
            {% comment %} might have to play with this value  {% endcomment %}
        }
    }

    .list li {
        position: relative;
    }

    .list li::after{
        content: " ";
        position: absolute;
        left: 0;
        height: 37px;
        width: 100%;
        background-color: #fafafa;
        border-left: 2px solid black;
        animation: typing 3s steps(11) infinite;
    }

    @keyframes typing{
        40%,
        60%{
            left: calc(100% + 30px);
        }
        100%{
            left: 0;
        }
    }

    {% comment %} ------------ CONTACT LINKS ------------- {% endcomment %}

    .linkedin {
        position: relative;
        padding-top: 30px; 
        margin: 0;
        width: 50px;
      }
      
    .linkedin i {
        position: relative;
        top: 370px;
        left: -580px; 
        font-size: 24px; 
        z-index: 3;
      }

    .github {
        position: relative;
        padding-top: 30px; 
        margin: 0;
        width: 50px;
      }

    .github i {
        position: relative;
        top: 370px;
        left: -565px; 
        font-size: 24px; 
        z-index: 3;
      }

    .email {
        position: relative;
        padding-top: 30px; 
        margin: 0;
        width: 50px;
      }
    
    .email i{
        position: relative;
        top: 370px;
        left: -485px; 
        font-size: 24px; 
        z-index: 3;
    }

    .phone {
        position: relative;
        padding-top: 30px; 
        margin: 0;
        width: 50px;
      }
    
    .phone i{
        position: relative;
        top: 370px;
        left: -600px; 
        font-size: 24px; 
        z-index: 3;
    }

    {% comment %} ------------------- ABOUT SECTION ------------------- {% endcomment %}


      


    </style>
</head>
<body>
    <!-- this "container" class deals with the left "andrea" section --> 
    <div class="container">
        <div class = "andrea">
            <img src="andrea.jpg" alt="Andrea Lopez" >
        </div>

        <div class="name" style="font-family: 'Julius Sans One', sans-serif; font-weight: 900; z-index: 2; 
        position: relative; left: -330px; top: 255px; font-size: 40px;";>
            Andrea Lopez        
        </div>

        <div class="description">
            <ul class="list">
                <li><span>Software Engineer</span></li>
                <li><span>Project Manager</span></li>
                <li><span>Freelance Web Developer</span></li>
            </ul>
        </div>

        <div class="rectangle"
        style="width: 30%; height: 96.75%; z-index: 0; 
        background-color: #fafafa; position: absolute; top: 0; 
        left: 80px; border: 15px solid #690202">
        </div>

        <div class="linkedin">
            <i class="fab fa-linkedin" style="color: #690202;"></i>
        </div>

        <div class="github">
            <i class="fab fa-github" style="color: #690202;"></i>
        </div>

        <div class="email">
            <i class="fas fa-solid fa-envelope" style="color: #690202;"></i>
        </div>

        <div class="phone">
            <i class="fas fa-phone" style="color: #690202;"></i>
        </div>

        <div class="resume">
            <i class="fas fa-file" style="color: #690202;"></i>
        </div>
    <!-- ////////////////////// END OF LEFT ANDREA SECTION /////////////////////// -->

        

    </div>

    <!-- ////////////////////// END OF LEFT ANDREA SECTION /////////////////////// -->
    <!-- <button type = "submit" class = "btn"> About</button>
        <div class="button">
            <div class="profile">
                <i class="fas fa-user" style="color: #690202;"></i>
            </div>
            <div class="title" style="color: #690202;">
                About
            </div>
        </div>  --> 


    <script src="script.js"> </script>
</body>
</html>



<!-- ONE WAY FOR IT TO WORK -->
<!-- <div class = "about">
   <button type="button" onclick="openAboutPopup()">
       <i class="fas fa-user" style="color: #CC0000;"></i>
       <span>About</span>
   </button>
   <div id="aboutPopup" class="popup">
   </div>
</div>

<script>
   function openAboutPopup() {
       fetch('about.html')
         .then(response => response.text())
         .then(content => {
           document.getElementById('aboutPopup').innerHTML = content;
           document.getElementById('aboutPopup').style.display = 'block';
         });
     }
     
</script> -->