<!DOCTYPE html>

<html>
    <head>
        <meta charset="UTF-8">
        <title>About Me</title>
        <link rel="stylesheet" type="text/css" href="../static/stylesheets/about.css">
        <link rel="stylesheet" type="text/css" href="../static/stylesheets/about.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    </head>

    <body style = "padding: 50">
        <button type="button" class="close" onclick="closeAboutPopup()">
            <i class="fas fa-times" style="color: #CC0000;"></i>
        </button>
        <div class="about">
            About Me
        </div>
        <div class = "par">
            <p class = "aboutP">I am a highly driven and motivated individual that is fascinated 
            by the boundless possibilities Computer Science offers. What initially drew me to 
            this field was the perpetual learning journey as well as this field's transformative 
            power to tackle a multitude of projects and solve diverse problems. The work I have done 
            thus far reflects my passion and diligence, and I am eager to use my acquired knowledge 
            and skills to make meaningful contributions to the future companies I will be associated 
            with and beyond.
            <br><br>
            Specifically, I am keen on driving positive change in the digital landscape by expanding
            my expertise in various Computer Science careers, including Software and Web Development 
            (full stack), Project Management, Computer Network Architecture, Artificial Intelligence 
            (AI), Cybersecurity, and Information Security Analysis.</p>
            </div>

        <div class = "education">
            <div class="skill">
                <div class = "stack">
                    <i class="fas fa-graduation-cap" style="color: #CC0000;"></i>
                    <div class = "edw"><span>Education</span></div>
                </div>
            </div>
            <div class = "deg"> Boston University, class of 2023 - Boston, MA<br>
            - Bachelor of Arts (BA) in Computer Science <br>
            - Bachelor of Arts (BA) in Psychology <br>
            </div>
        </div>

        <div class = "education">
            <div class="ed">
                <div class = "stack">
                    <i class="fas fa-code" style="color: #CC0000;"></i>
                    <div class = "sdw"><span>Skills</span></div>
                </div>
            </div>
            <div class = "skills"> 
                <div class = "tech">
                    <div> Technical Skills </div>
                    <ul class="tlist">
                        <li><span>Python</span></li>
                        <li><span>Java</span></li>
                        <li><span>HTML/CSS</span></li>
                        <li><span>Javascript</span></li>
                        <li><span>C</span></li>
                        <li><span>C++</span></li>
                        <li><span>Ruby</span></li>
                        <li><span>OCaml</span></li>
                        <li><span>SQL</span></li>
                        <li><span>MySQL</span></li>
                        <li><span>SQLite</span></li>
                        <li><span>React</span></li>
                        <li><span>Node.js</span></li>
                        <li><span>Rails</span></li>
                        <li><span>Flask</span></li>
                        <li><span>Bootstrap</span></li>
                        <li><span>Docker</span></li>
                    </ul>
                </div>

                <div class = "soft">
                    <div> Soft Skills </div>
                    <ul class="slist">
                        <li><span>Spanish Fluency</span></li>
                        <li><span>Adaptability</span></li>
                        <li><span>Approachable</span></li>
                        <li><span>Leadership</span></li>
                        <li><span>Teamwork</span></li>
                        <li><span>Communication (Written and Verbal)</span></li>
                        <li><span>Problem Solving</span></li>
                        <li><span>Time Management</span></li>
                        <li><span>Organization</span></li>
                        <li><span>Attention to Detail</span></li>
                        <li><span>Self-Motivation</span></li>
                        <li><span>Work Ethic</span></li>
                        <li><span>Conflict Resolution</span></li>
                    </ul>
                </div> 
            </div>
        </div>

        <!--
        <div class = "skills">
            <div class = "skill">
                <div class = "stack">
                    <i class="fas fa-code" style="color: #CC0000;"></i>
                    <div class = "edw"><span>Skills</span></div>
                </div>
            </div>
                 <div class = "tech">
                    <div> Technical Skills </div>
                    <ul class="tlist">
                        <li><span>Python</span></li>
                        <li><span>Java</span></li>
                        <li><span>HTML/CSS</span></li>
                        <li><span>Javascript</span></li>
                        <li><span>C</span></li>
                        <li><span>C++</span></li>
                        <li><span>Ruby</span></li>
                        <li><span>OCaml</span></li>
                        <li><span>SQL</span></li>
                        <li><span>MySQL</span></li>
                        <li><span>SQLite</span></li>
                        <li><span>React</span></li>
                        <li><span>Node.js</span></li>
                        <li><span>Rails</span></li>
                        <li><span>Flask</span></li>
                        <li><span>Bootstrap</span></li>
                        <li><span>Docker</span></li>
                    </ul>
                </div>

                <div class = "soft">
                    <div> Soft Skills </div>
                    <ul class="slist">
                        <li><span>Spanish Fluency</span></li>
                        <li><span>Adaptability</span></li>
                        <li><span>Approachable</span></li>
                        <li><span>Leadership</span></li>
                        <li><span>Teamwork</span></li>
                        <li><span>Communication (Written and Verbal)</span></li>
                        <li><span>Problem Solving</span></li>
                        <li><span>Time Management</span></li>
                        <li><span>Organization</span></li>
                        <li><span>Attention to Detail</span></li>
                        <li><span>Self-Motivation</span></li>
                        <li><span>Work Ethic</span></li>
                        <li><span>Conflict Resolution</span></li>
                    </ul>
                </div> 
        </div> -->

    </body>
</html>
