<!DOCTYPE html>

<html>
    <head>
        <meta charset="UTF-8">
        <title>About Me</title>
        <link rel="stylesheet" type="text/css" href="../static/stylesheets/about.css">
        <link rel="stylesheet" type="text/css" href="../static/stylesheets/about.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    </head>

    <body>
        <button type="button" class="close" onclick="closeAboutPopup()">
            <i class="fas fa-times" style="color: #CC0000;"></i>
        </button>
        <h1>About Me</h1>
        <h2>Personal Information (small paragraph about myself and what i want)</h2>
        <h2>Education (where i studied, degrees)</h2>
        <h2>Basic info cs-wise (languages i know)</h2>
        <h2>skills (both technical and not)</h2>

    </body>
</html>
