<!DOCTYPE html>
<html>
<head>
  <title>Andrea Lopez</title>
  <link rel="stylesheet" type="text/css" href="../static/stylesheets/desktop.css">
  <link rel="stylesheet" type="text/css" href="../static/stylesheets/popup.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
  <link rel="apple-touch-icon" sizes="180x180" href="../static/images/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="../static/images/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="../static/images/favicon-16x16.png">
  <link rel="manifest" href="../static/images/site.webmanifest">

  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body style="background-image: url('{{ url_for('static', filename='images/bu.jpeg') }}');
">
    <!-- this "container" class deals with the left "andrea" section --> 
    <div class="container">
        <div class = "center">
            <div class = "rectIntro">
                <div class="rectangle">
                    <div class = "andrea">
                        
                    </div>

                    <div class="name" style="font-family: 'Julius Sans One', sans-serif; 
                    font-weight: 900; z-index: 2; position: relative; font-size: 40px; 
                    display: flex; justify-content: center; margin-bottom: 15px;";>
                        Andrea Lopez        
                    </div>

                    <div class="description">
                        <ul class="list">
                            <li><span>Software Engineer</span></li>
                            <li><span>Project Manager</span></li>
                            <li><span>Freelance Web Developer</span></li>
                        </ul>
                    </div>

                    <div class="links">
                        <div class="email" onclick="openEmailPopup()">
                            <i class="fas fa-envelope" style="color: #CC0000;"></i>
                        </div>

                        <div id="emailPopup" class="empopup">
                        </div>

                        <a href = "https://www.linkedin.com/in/andreael/" target = "_blank">
                            <div class="linkedin">
                                <i class="fab fa-linkedin" style="color: #CC0000;"></i>
                            </div>
                        </a>

                        <a href = "https://github.com/andreaelpz" target = "_blank">
                            <div class="github">
                                <i class="fab fa-github" style="color: #CC0000;"></i>
                            </div>
                        </a>

                        <div class="phone">
                            <i class="fas fa-phone fa-flip-horizontal" style="color: #CC0000;"></i>
                            <span id = "pn" style="font-size:15px; font-weight: 900;"> (956) 400-5439 </span>
                        </div>
                    </div>
                </div>
            </div>

        

    <!-- ////////////////////// END OF LEFT ANDREA SECTION /////////////////////// -->
            <div class = "info">
                <div class = "buttons">
                    <button type="button" onclick="openAboutPopup()">
                        <i class="fas fa-user" style="color: #CC0000;"></i>
                        <span>About</span>
                    </button>

                    <div id="aboutPopup" class="popup">
                    </div>
                </div>

                <div class = "buttons">
                    <button type="button" onclick="openExperiencePopup()">
                        <i class="fas fa-briefcase" style="color: #CC0000;"></i>
                        <span>Experience</span>
                    </button>
                    
                    <div id="experiencePopup" class="epopup">
                    </div>
                </div>

                <div class = "buttons">
                    <button type="button" onclick="openResumePopup()">
                        <i class="fas fa-file" style="color: #CC0000;"></i>
                        <span>Resume</span>
                    </button>

                    <div id="resumePopup" class="rpopup">
                    </div>
                </div>

            </div>
        </div>
    </div>        


    <!-- ////////////////////// END OF LEFT ANDREA SECTION /////////////////////// -->
    <!-- <button type = "submit" class = "btn"> About</button>
        <div class="button">
            <div class="profile">
                <i class="fas fa-user" style="color: #690202;"></i>
            </div>
            <div class="title" style="color: #690202;">
                About
            </div>
        </div>  --> 

        
        <script>

            const imgElement = document.createElement('img');
    
            // Define the source URLs for different page sizes
            const andreaPic = '/static/images/andrea.jpg';
            const andrea2Pic = '/static/images/andrea2.jpg';

            // Function to update the image source based on the window size
            function updateImageSource() {
            const windowWidth = window.innerWidth;

            if (windowWidth > 700 && windowWidth <= 1059) {
                imgElement.src = andrea2Pic;
            } else {
                imgElement.src = andreaPic;
            }
            }

            // Initial update and attach the event listener for window resize
            updateImageSource();
            window.addEventListener('resize', updateImageSource);

            function openAboutPopup() {
                fetch('/about')
                  .then(response => response.text())
                  .then(content => {
                    document.getElementById('aboutPopup').innerHTML = content;
                    document.getElementById('aboutPopup').style.display = 'block';
                  });
              }
            
            function closeAboutPopup() {
                const popup = document.getElementById('aboutPopup');
                popup.style.animation = 'slideOutRight 0.5s forwards';
                setTimeout(function() {
                    popup.style.display = 'none';
                    popup.style.animation = '';
                }, 500);
            }

            function openExperiencePopup() {
                fetch('/experience')
                  .then(response => response.text())
                  .then(content => {
                    document.getElementById('experiencePopup').innerHTML = content;
                    document.getElementById('experiencePopup').style.display = 'block';
                  });
              }
            
            function closeExperiencePopup() {
                const popup = document.getElementById('experiencePopup');
                popup.style.animation = 'slideOutRight 0.5s forwards';
                setTimeout(function() {
                    popup.style.display = 'none';
                    popup.style.animation = '';
                }, 500);
            }

            function openResumePopup() {
                fetch('/resume')
                  .then(response => response.text())
                  .then(content => {
                    document.getElementById('resumePopup').innerHTML = content;
                    document.getElementById('resumePopup').style.display = 'block';
                  });
              }
            
            function closeResumePopup() {
                const popup = document.getElementById('resumePopup');
                popup.style.animation = 'slideOutRight 0.5s forwards';
                setTimeout(function() {
                    popup.style.display = 'none';
                    popup.style.animation = '';
                }, 500);
            }

            function openEmailPopup() {
                fetch('/email')
                  .then(response => response.text())
                  .then(content => {
                    document.getElementById('emailPopup').innerHTML = content;
                    document.getElementById('emailPopup').style.display = 'block';
                  });
              }
            
            function closeEmailPopup() {
                const popup = document.getElementById('emailPopup');
                popup.style.animation = 'slideOutRight 0.5s forwards';
                setTimeout(function() {
                    popup.style.display = 'none';
                    popup.style.animation = '';
                }, 500);
            }

            function submitForm() {
                // Get form data
                console.log('submitForm function called');
                var name = document.getElementById('name').value;
                var email = document.getElementById('email').value;
                var message = document.getElementById('message').value;
        
                console.log('Form Data:', { name, email, message }); 
                // Make an asynchronous request to submit the form data
                fetch('/send_email', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/x-www-form-urlencoded',
                    },
                    body: `name=${encodeURIComponent(name)}&email=${encodeURIComponent(email)}&message=${encodeURIComponent(message)}`
                })
                .then(response => response.json())
                .then(data => {
                    if (data.success) {
                        closeEmailPopup();
                        console.log('openPopup function called');
                    } else {
                        console.error('Error submitting form:', data.error);
                        // Handle errors if needed
                    }
                })
                .catch(error => {
                    console.error('Error submitting form:', error);
                    // Handle errors if needed
                });
            }

            /* ---------------- ADJUSTING FOR DIFFERENT WINDOW SIZES ---------------- */
           
        </script>

    <!-- <script>const modal = document.querySelector('.modal');
        const openModal = document.querySelector('.open-button');
        const closeModal = document.querySelector('.close-button');
        
        openModal.addEventListener('click', () => {
            modal.showModal();
        }); </script> -->
</body>

</html>
