<!DOCTYPE html>

<html>
    <head>
        <meta charset="UTF-8">
        <title>Resume</title>
        <link rel="stylesheet" type="text/css" href="../static/stylesheets/resume.css">
        <link rel="stylesheet" type="text/css" href="../static/stylesheets/email.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    </head>

    <body>
        <button type="button" class="close" onclick="closeEmailPopup()">
            <i class="fas fa-times" style="color: #CC0000;"></i>
        </button>
            <div class = "resume">
                Send Me an Email!
            </div>
        
            <div class="form">
                <form action="{{ url_for('send_email') }}" method="post">
                    <div class = "who">
                        <div class="winput">
                            <input type="text" id="name" name="name" placeholder="Full Name" required style="margin-bottom: 10px;">
                        </div>

                        <div class = "winput">
                            <input type="email" id="email" name="email" placeholder="Email Address" required style="margin-bottom: 10px;">
                        </div>
                    </div>

                    <div class = "minput">
                        <div class = "input">
                            <textarea id="message" name="message" placeholder="Message" required style="margin-bottom: 10px;"></textarea>
                        </div>
                    </div>
                </form>
            </div>

            <div = class="ibutton">
                <button class = "style" type="submit">
                    <i class="fas fa-share" style="color: #CC0000; font-size: 20px;"></i>
                    <span class = "text" style = "font-size: 16px;">Send</span>
                </button>
            </div>
    </body>
</html>