<!DOCTYPE html>

<html>
    <head>
        <meta charset="UTF-8">
        <title>Experience</title>
        <link rel="stylesheet" type="text/css" href="../static/stylesheets/experience.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    </head>

    <body>
        <button type="button" class="close" onclick="closeExperiencePopup()">
            <i class="fas fa-times" style="color: #CC0000;"></i>
        </button>
        <div class = "we">Work Experience</div>
            <div class = "projman">
                <div class="pm">
                    <div class = "stack">
                        <i class="fas fa-folder" style="color: #690202;"></i>
                        <div class = "pmw"><span>Project Management</span></div>
                    </div>
                </div>
                <div class="ex">
                    <div class = "box">
                        <div class = "content">
                            <div class = "front">
                                <div class = "dates" style = "font-family: 'Julius Sans One', sans-serif; margin-top: 20px; font-size: 15px;">
                                    February 2023 - May 2023
                                </div>
                                <div class = "boxTitle">
                                    D7 Dashboard
                                </div>
                            </div>
                            <div class= "back">
                                <div class = "paragraph">
                                    <p> This web application, intended for use by District 7 in Massachusetts, has the 
                                        objective of facilitating swift communication between Councilor Tania Fernandes 
                                        Anderson and the community. Its purpose is to provide real-time updates on events, 
                                        announcements from the councilor, and a channel for community members to express 
                                        their concerns. I led a team responsible for advancing the development of the 
                                        existing web application, devising a comprehensive work plan to address the 
                                        councilor's requirements. In the initial meeting, I effectively communicated the 
                                        councilor's vision to the team. Given the councilor's limited availability, written 
                                        communication became crucial for progress updates and addressing team inquiries. 
                                        To overcome this challenge, I devised creative solutions to ensure the project 
                                        remained on the right track. Facilitating communication between the team and the 
                                        councilor, I played a key role in bridging any gaps. Finally, I organized and led 
                                        the final meeting where the team presented the completed web application. </p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class = "box">
                        <div class = "content">
                            <div class = "front">
                                <div class = "dates" style = "font-family: 'Julius Sans One', sans-serif; margin-top: 20px; font-size: 15px;">
                                    September 2022 - May 2023
                                </div>
                                <div class = "boxTitle">
                                    Black Woman M.D. Network
                                </div>
                            </div>
                            <div class= "back">
                                <div class = "paragraph">
                                    <p> 
                                        I led a team through a year-long Engineering Capstone project, 
                                        overseeing the development of a fully-deployed website. As the 
                                        leader, I guided the client in translating their thoughts, ideas, 
                                        and requirements into a feasible website that fulfilled their desires. 
                                        Throughout the project, I conducted regular biweekly meetings to 
                                        showcase our progress and facilitated effective communication between 
                                        the client and the team, both during and outside of these meetings. 
                                        I also assisted the team in reaching out to external resources for 
                                        additional support during the development phase. To ensure timely 
                                        completion, I devised a comprehensive work plan. The resulting website 
                                        serves as a valuable platform, empowering black women doctors by providing 
                                        coaching, connecting them to opportunities, and offering essential 
                                        resources to support their entire medical career.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class = "box">
                        <div class = "content">
                            <div class = "front">
                                <div class = "dates" style = "font-family: 'Julius Sans One', sans-serif; margin-top: 20px; font-size: 15px;">
                                    September 2022 - May 2023
                                </div>
                                <div class = "boxTitle">
                                    Data@Spark!
                                </div>
                            </div>
                            <div class= "back">
                                <div class = "paragraph">
                                    <p> This website aims to provide a centralized platform for students, faculty, 
                                        staff, and other stakeholders to easily access, manage, and analyze data 
                                        related to completed projects at Spark! It achieves this by organizing diverse 
                                        data sets in a user-friendly manner, enhancing accessibility for all users. 
                                        Throughout the project, I collaborated closely with the clients to integrate 
                                        the CKAN API into the site. We worked together to conceptualize the website's 
                                        organization, design, and future direction, aiming to enhance the user experience. 
                                        As the project progressed, I led two different teams, guiding the second team 
                                        based on the progress made by the first team. To ensure a smooth transition, I 
                                        created a comprehensive handoff document containing all necessary information, 
                                        links, and documentation for the next teams. This facilitated a seamless onboarding 
                                        process and enabled the project to continue seamlessly. Additionally, I devised a 
                                        work plan that ensured the team achieved the essential functionality and an initial 
                                        look for the site. After a year of dedicated effort, the design process reached 
                                        completion, enabling future teams to implement our collaborative vision alongside 
                                        the clients. </p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class = "box">
                        <div class = "content">
                            <div class = "front">
                                <div class = "dates" style = "font-family: 'Julius Sans One', sans-serif; margin-top: 20px; font-size: 15px;">
                                    May 2022 - August 2022
                                </div>
                                <div class = "boxTitle">
                                    Spark! Applicant Portal
                                </div>
                            </div>
                            <div class= "back">
                                <div class = "paragraph" style="">
                                    <p> I led a team in enhancing the existing BU Spark! website, 
                                        which serves as a platform for students to apply for tech 
                                        positions and advance their career. Throughout the project, 
                                        I conducted biweekly meetings with our client, crafted a 
                                        work plan aligned with their objectives, and maintained 
                                        consistent communication with the team to ensure timely 
                                        delivery of our previously agreed-upon client's wishes. </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class = "swe">
                <div class="pm">
                    <div class = "stack">
                        <i class="fas fa-desktop" style="color: #690202;"></i>
                        <div class = "sw"><span>Software Engineering</span></div>
                    </div>
                </div>
                <div class = "ex">
                    <div class = "box">
                        <div class = "content">
                            <div class = "front">
                                <div class = "dates" style = "font-family: 'Julius Sans One', sans-serif; margin-top: 20px; font-size: 15px;">
                                    February 2022 - May 2022 <br>
                                    February 2023 - May 2023
                                </div>
                                <div class = "boxTitle">
                                    My Life My Choice (MLMC)
                                </div>
                                <div class = "roles" style = "font-family: 'Julius Sans One', sans-serif; margin-bottom: 20px; font-size: 15px;">
                                    Role: Front-end Developer
                                </div>
                            </div>
                            <div class= "back">
                                <div class = "paragraph">
                                    <p> I collaborated with the My Life My Choice (MLMC) organization to develop a 
                                        Ruby on Rails app that provides survivors of sexual exploitation with a 
                                        private and secure platform to access the necessary resources. Throughout 
                                        the project, I expanded my skills as a frontend developer. Additionally, as 
                                        I debugged code written by a previous developer, I honed my debugging 
                                        techniques by carefully reading and understanding their code. </p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class = "box">
                        <div class = "content">
                            <div class = "front">
                                <div class = "dates" style = "font-family: 'Julius Sans One', sans-serif; margin-top: 20px; font-size: 15px;">
                                    May 2022 - August 2022
                                </div>
                                <div class = "boxTitle">
                                    Migrant Misrepresentation
                                </div>
                                <div class = "roles" style = "font-family: 'Julius Sans One', sans-serif; margin-bottom: 20px; font-size: 15px;">
                                    Role: Full-stack Developer
                                </div>
                            </div>
                            <div class= "back">
                                <div class = "paragraph">
                                    <p> I developed a website using Python, HTML/CSS, and Flask to address the issue 
                                        of misrepresentation of immigrants in news agencies across various regions. 
                                        This project allowed me to enhance my web development skills as I worked on 
                                        both the frontend and backend aspects. Given the frequent UI changes, I had 
                                        to work efficiently to accommodate the evolving requirements. In the final 
                                        meeting, I presented the functioning of the website to the client, 
                                        demonstrating the user experience and showcasing its features and capabilities. </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class = "ignite">
                <div class="pm">
                    <div class = "stack">
                        <i class="fas fa-lightbulb" style="color: #690202;"></i>
                        <div class = "sw"><span>Other</span></div>
                    </div>
                </div>
                <div class = "ex">
                    <div class = "box">
                        <div class = "content">
                            <div class = "front">
                                <div class = "dates" style = "font-family: 'Julius Sans One', sans-serif; margin-top: 20px; font-size: 15px;">
                                    September 2022 - May 2023
                                </div>
                                <div class = "boxTitle">
                                    Ignite Co-Director
                                </div>
                            </div>
                            <div class= "back">
                                <div class = "paragraph">
                                    <p> I took the initiative to organize events that fostered collaboration and 
                                        unity among STEM clubs at BU. As part of this role, I led monthly meetings 
                                        with representatives from various STEM clubs to discuss budgeting, upcoming 
                                        events, allocate funds from our budget, and make important announcements. 
                                        To promote each club's events, I actively advertised them. I effectively 
                                        addressed questions and concerns both verbally and in written form. 
                                        Additionally, I meticulously managed and monitored the budget, ensuring 
                                        financial resources were utilized efficiently. Lastly, I compiled a comprehensive 
                                        yearly report, highlighting our responsible use of donor funds, with the aim 
                                        of securing continued funding for the following school year.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class = "projects" >Projects</div>
            <div class = "ex"style="margin-bottom: 40px;">

                <div class = "box">
                    <div class = "content">
                        <div class = "front">
                            <div class = "dates" style = "font-family: 'Julius Sans One', sans-serif; margin-top: 20px; font-size: 15px;">
                                Role: C2 Framework Developer
                            </div>
                            <div class = "boxTitle">
                                C2 Framework
                            </div>
                        </div>
                        <div class= "back">
                            <div class = "paragraph">
                                <p> Throughout this project, I developed the skill of conducting effective Google 
                                    searches as I navigated the realms of cybersecurity, the Windows API, and 
                                    C++. Utilizing the Windows API, C++/C, SQLite, and Python, I successfully 
                                    crafted a system encompassing a Python-based server and user-side components,
                                     enabling the collection of data from a victim machine. Taking the lead, I 
                                     organized the team to ensure we met our project goals and deadlines. By providing 
                                     motivation, I maintained a high team spirit. Dividing roles and maintaining open 
                                     communication, I effectively sought assistance from team members when encountering 
                                     challenges. Demonstrating persistence and determination, I persevered through 
                                     numerous trials and errors, investing extensive hours to achieve the desired outcome. </p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class = "box">
                    <div class = "content">
                        <div class = "front">
                            <div class = "dates" style = "font-family: 'Julius Sans One', sans-serif; margin-top: 20px; font-size: 15px;">
                                Role: Machine Learning Engineer
                            </div>
                            <div class = "boxTitle">
                                Machine Learning
                            </div>
                        </div>
                        <div class= "back">
                            <div class = "paragraph">
                                <p> As part of a team, I collaborated on analyzing data to identify factors that 
                                    exhibited a stronger correlation with higher grades in various subjects, including math, 
                                    reading, and writing. Utilizing Python, we employed a range of techniques such as 
                                    regularized models, ensemble methods, and cross-validation to ensure accurate outputs 
                                    from our regressions. Additionally, I showcased my presentation skills by effectively 
                                    communicating our findings and results to the audience.</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class = "box">
                    <div class = "content">
                        <div class = "front">
                            <div class = "dates" style = "font-family: 'Julius Sans One', sans-serif; margin-top: 20px; font-size: 15px;">
                                Role: Full-stack Developer
                            </div>
                            <div class = "boxTitle">
                                ReynoDance Academy
                            </div>
                        </div>
                        <div class= "back">
                            <div class = "paragraph">
                                <p> As a full-stack developer, I designed and developed a website catering to dance students. 
                                    The website featured a user-friendly interface that allowed students to receive announcements, 
                                    register for classes, and access general information about the dance academy. Additionally, 
                                    the website provided instructors with the capability to post announcements and access student 
                                    information. </p>
                            </div>
                        </div>
                    </div>
                </div>
            
                <div class = "box">
                    <div class = "content">
                        <div class = "front">
                            <div class = "dates" style = "font-family: 'Julius Sans One', sans-serif; margin-top: 20px; font-size: 15px;">
                                Role: Project Manager &amp; Proposal Writer
                            </div>
                            <div class = "boxTitle">
                                Sched-U-Bowl
                            </div>
                        </div>
                        <div class= "back">
                            <div class = "paragraph">
                                <p> In this project, I served as the project manager and proposal writer, 
                                    taking on the responsibility of organizing the team to ensure the 
                                    project's timely completion. I successfully resolved conflicts that 
                                    arose during the development process, fostering a collaborative environment. 
                                    Further, I strengthened my presentation skills by delivering compelling 
                                    presentations via video and in-person, effectively conveying the project's 
                                    goals, underlying reasons, and our approach to achieving them. Demonstrating 
                                    my written communication skills, I authored the proposal for this software 
                                    engineering project. Moreover, I gained valuable experience by going through 
                                    the entire software development life cycle. The project aimed to create a 
                                    bowling alley system that simplified the lane reservation process, removing 
                                    the uncertainty surrounding lane availability once customers arrived at the 
                                    bowling alley. </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </body>
</html>
