<!DOCTYPE html>

<html>
    <head>
        <meta charset="UTF-8">
        <title>Experience</title>
        <link rel="stylesheet" type="text/css" href="../static/stylesheets/experience.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    </head>

    <body>
        <button type="button" class="close" onclick="closeExperiencePopup()">
            <i class="fas fa-times" style="color: #CC0000;"></i>
        </button>
        <h1>Experience</h1>
        <h2>Work Experience (split is by project management, spark, ignite, and swe 
            [split this further by frontend and backend])</h2>
        <h2>projects</h2>
    </body>
</html>
