<!DOCTYPE html>

<html>
    <head>
        <meta charset="UTF-8">
        <title>Experience</title>
        <link rel="stylesheet" type="text/css" href="../static/stylesheets/experience.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    </head>

    <body>
        <button type="button" class="close" onclick="closeExperiencePopup()">
            <i class="fas fa-times" style="color: #CC0000;"></i>
        </button>
        <div class = "we">Work Experience</div>
            <div class = "projman">
                <div class="pm">
                    <div class = "stack">
                        <i class="fas fa-folder" style="color: #690202;"></i>
                        <div class = "pmw"><span>Project Management</span></div>
                    </div>
                </div>
                <div class="ex">
                    <div class = "box">
                        <div class = "content">
                            <div class = "front">
                                <div class = "dates" style = "font-family: 'Julius Sans One', sans-serif; margin-top: 20px; font-size: 15px;">
                                    February 2023 - May 2023
                                </div>
                                <div class = "boxTitle">
                                    D7 Dashboard
                                </div>
                            </div>
                            <div class= "back">
                                <div class = "paragraph">
                                    <p> <b>Client:</b>
                                        <br>
                                        Tania Fernandes, District 7 Councilor
                                        <br>
                                        <br>
                                        Objective:
                                        <br>
                                        - facilitate swift communication between Councilor Tania Fernandes Anderson and the community
                                        <br>
                                        - provide real-time updates on events, announcements from the councilor, and allow community members to express 
                                        their concerns. 
                                        <br>
                                        <br>
                                        Contribution:
                                        <br>
                                        - led a team responsible for advancing the development of the existing web application
                                        <br>
                                        - devised a comprehensive work plan to address the councilor's requirements and meet the minimum viable product
                                        <br>
                                        - led meetings and effectively communicated the councilor's vision to the team. Given the councilor's limited availability, written 
                                        communication became crucial for progress updates and addressing team inquiries. 
                                        <br>
                                        - devised creative solutions, like sending video updates, to combat the Councilor's limited availability
                                        <br>
                                        - facilitated communication between the team and the councilor, playing a key role in bridging any gaps
                                        <br>
                                        - organized and led the final meeting where the team presented the completed web application. </p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class = "box">
                        <div class = "content">
                            <div class = "front">
                                <div class = "dates" style = "font-family: 'Julius Sans One', sans-serif; margin-top: 20px; font-size: 15px;">
                                    September 2022 - May 2023
                                </div>
                                <div class = "boxTitle">
                                    Black Woman M.D. Network
                                </div>
                            </div>
                            <div class= "back">
                                <div class = "paragraph">
                                    <p>  <b>Client:</b>
                                        <br>
                                        Dr. Philomena Asante, Founder
                                        <br>
                                        <br>
                                        Objective:
                                        <br>
                                        - create a valuable platform that empowers black women doctors by providing 
                                        coaching, connecting them to opportunities, and offering essential 
                                        resources to support their entire medical career
                                        <br>
                                        <br>
                                        Contribution:
                                        <br>
                                        - led a team through a year-long Engineering Capstone project, 
                                        overseeing the development of a fully-deployed website
                                        <br>
                                        - guided the client in translating their thoughts, ideas, 
                                        and requirements into a feasible website that fulfilled their desires
                                        <br>
                                        - conducted regular biweekly meetings to showcase our progress and facilitated 
                                        effective (verbal and written) communication between the client and the team 
                                        <br>
                                        - assisted the team in reaching out to external resources for 
                                        additional support during the development phase
                                        - devised a comprehensive work plan to ensure timely completion 
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class = "box">
                        <div class = "content">
                            <div class = "front">
                                <div class = "dates" style = "font-family: 'Julius Sans One', sans-serif; margin-top: 20px; font-size: 15px;">
                                    September 2022 - May 2023
                                </div>
                                <div class = "boxTitle">
                                    Data@Spark!
                                </div>
                            </div>
                            <div class= "back">
                                <div class = "paragraph">
                                    <p> <b>Client:</b>
                                        <br>
                                        Langdon White 
                                        <br>
                                        Steven Backman
                                        <br>
                                        <br>
                                        Objective:
                                        <br>
                                        - provide a centralized platform for students, faculty, staff, and other 
                                        stakeholders to easily access, manage, and analyze data related to completed
                                        projects at Spark! 
                                        <br>
                                        - organize diverse data sets in a user-friendly manner, enhancing accessibility for all users
                                        <br>
                                        <br>
                                        Contribution:
                                        <br>
                                        - collaborated closely with the clients to integrate the CKAN API into the site
                                        <br>
                                        - worked together to conceptualize the website's organization, design, and future 
                                        direction, aiming to enhance the user experience. 
                                        <br>
                                        - led two different teams, guiding the second team based on the progress made by the 
                                        first team 
                                        <br>
                                        - ensured a smooth transition by creating a comprehensive handoff document containing 
                                        all necessary information, links, and documentation for the next teams
                                        <br>
                                        - devised a work plan that ensured the team achieved the essential functionality and an initial 
                                        look for the site
                                        <br>
                                        - completed design process, enabling future teams to implement our collaborative vision alongside 
                                        the clients. </p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class = "box">
                        <div class = "content">
                            <div class = "front">
                                <div class = "dates" style = "font-family: 'Julius Sans One', sans-serif; margin-top: 20px; font-size: 15px;">
                                    May 2022 - August 2022
                                </div>
                                <div class = "boxTitle">
                                    Spark! Applicant Portal
                                </div>
                            </div>
                            <div class= "back">
                                <div class = "paragraph" style="">
                                    <p> <b>Client:</b>
                                        <br>
                                        Greta Teller, Managing Director of BU Spark!
                                        <br>
                                        <br>
                                        Objective:
                                        <br>
                                        - platform for students to apply for tech 
                                        positions and advance their career
                                        <br>
                                        <br>
                                        Contribution:
                                        <br> 
                                        - led a team in enhancing the existing BU Spark! website
                                        <br>
                                        - conducted biweekly meetings with our client to show progress and communicate 
                                        issues being faced 
                                        <br>
                                        - crafted a work plan aligned with client objectives that detailed how the minimum 
                                        viable product should look
                                        <br>
                                        - maintained consistent communication with the team to ensure timely 
                                        delivery of our previously agreed-upon client's wishes. </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class = "swe">
                <div class="pm">
                    <div class = "stack">
                        <i class="fas fa-desktop" style="color: #690202;"></i>
                        <div class = "sw"><span>Software Engineering</span></div>
                    </div>
                </div>
                <div class = "ex">
                    <div class = "box">
                        <div class = "content">
                            <div class = "front">
                                <div class = "dates" style = "font-family: 'Julius Sans One', sans-serif; margin-top: 20px; font-size: 15px;">
                                    February 2022 - May 2022 <br>
                                    February 2023 - May 2023
                                </div>
                                <div class = "boxTitle">
                                    My Life My Choice (MLMC)
                                </div>
                                <div class = "roles" style = "font-family: 'Julius Sans One', sans-serif; margin-bottom: 20px; font-size: 15px;">
                                    Role: Front-end Developer
                                </div>
                            </div>
                            <div class= "back">
                                <div class = "paragraph">
                                    <p> <b>Client:</b>
                                        <br>
                                        Lisa Goldblatt Grace, MLMC Co-Founder &amp; Co-Executive Director
                                        <br>
                                        <br>
                                        Tech Stack:
                                        <br> 
                                        Ruby on Rails, Ruby, HTML/CSS, Javascript
                                        <br>
                                        <br>
                                        Objective:
                                        <br>
                                        - develop a Ruby on Rails app that provides survivors of sexual exploitation with a 
                                        private and secure platform to access the necessary resources
                                        <br>
                                        <br>
                                        Contribution:
                                        <br>
                                        - debugged code written by a previous developer, I honed 
                                        my debugging techniques by carefully reading and understanding their code. </p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class = "box">
                        <div class = "content">
                            <div class = "front">
                                <div class = "dates" style = "font-family: 'Julius Sans One', sans-serif; margin-top: 20px; font-size: 15px;">
                                    May 2022 - August 2022
                                </div>
                                <div class = "boxTitle">
                                    Migrant Misrepresentation
                                </div>
                                <div class = "roles" style = "font-family: 'Julius Sans One', sans-serif; margin-bottom: 20px; font-size: 15px;">
                                    Role: Full-stack Developer
                                </div>
                            </div>
                            <div class= "back">
                                <div class = "paragraph">
                                    <p> Objective:
                                        <br>
                                        - address the issue of misrepresentation of immigrants in news agencies across various regions 
                                        <br>
                                        <br>
                                        Tech Stack:
                                        <br> 
                                        Python, HTML/CSS
                                        <br>
                                        <br>
                                        Contribution:
                                        <br>
                                        - enhanced my web development skills (frontend &amp; backend) 
                                        <br>
                                        - worked efficiently to accommodate the evolving requirements given the frequent UI changes
                                        <br>
                                        - presented the functioning of the website to the client, demonstrating the user experience 
                                        and showcasing its features and capabilities. </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class = "ignite">
                <div class="pm">
                    <div class = "stack">
                        <i class="fas fa-lightbulb" style="color: #690202;"></i>
                        <div class = "sw"><span>Other</span></div>
                    </div>
                </div>
                <div class = "ex">
                    <div class = "box">
                        <div class = "content">
                            <div class = "front">
                                <div class = "dates" style = "font-family: 'Julius Sans One', sans-serif; margin-top: 20px; font-size: 15px;">
                                    September 2022 - May 2023
                                </div>
                                <div class = "boxTitle">
                                    Ignite Co-Director
                                </div>
                            </div>
                            <div class= "back">
                                <div class = "paragraph">
                                    <p> Role:
                                        <br>
                                        - organized  events that fostered collaboration and unity among STEM clubs at BU
                                        <br>
                                        - led monthly meetings with representatives from various STEM clubs to discuss 
                                        budgeting, upcoming events, allocate funds from our budget, and make important 
                                        announcements
                                        <br>
                                        - promote each club's events
                                        <br>
                                        - effectively addressed questions and concerns (verbal &amp; written) 
                                        <br>
                                        - meticulously managed and monitored the budget, ensuring financial resources 
                                        were utilized efficiently
                                        <br>
                                        - compiled a comprehensive yearly report, highlighting our responsible use of
                                        donor funds, with the aim of securing continued funding for the following school year.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class = "projects" >Projects</div>
            <div class = "ex"style="margin-bottom: 40px;">

                <div class = "box">
                    <div class = "content">
                        <div class = "front">
                            <div class = "dates" style = "font-family: 'Julius Sans One', sans-serif; margin-top: 20px; font-size: 15px;">
                                Role: C2 Framework Developer
                            </div>
                            <div class = "boxTitle">
                                C2 Framework
                            </div>
                        </div>
                        <div class= "back">
                            <div class = "paragraph">
                                <p> Tech Stack:
                                    <br>
                                    Windows API, C++/C, SQLite, and Python
                                    <br>
                                    <br>
                                    Summary:
                                    <br>
                                    Successfully crafted a system encompassing a Python-based server and user-side components, 
                                    and an implant using C++ that enabled the collection of data from a victim machine which were then 
                                    communicated to the server through Windows API GET requests. 
                                    <br>
                                    <br>
                                    Contribution:
                                    <br>
                                    - developed the skill of conducting effective Google searches as I navigated the 
                                    realms of cybersecurity, the Windows API, and C++
                                    <br>
                                    - organized the team to ensure we met our project goals and deadlines and maintained a high
                                    team spirit
                                    <br>
                                    - effectively sought assistance from team members when encountering challenges
                                    <br>
                                    - persevered through numerous trials and errors, investing extensive hours to achieve the desired outcome 
                                    </p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class = "box">
                    <div class = "content">
                        <div class = "front">
                            <div class = "dates" style = "font-family: 'Julius Sans One', sans-serif; margin-top: 20px; font-size: 15px;">
                                Role: Machine Learning Engineer
                            </div>
                            <div class = "boxTitle">
                                Machine Learning
                            </div>
                        </div>
                        <div class= "back">
                            <div class = "paragraph">
                                <p> Tech Stack:
                                    <br>
                                    Python
                                    <br>
                                    <br>Summary:
                                    <br>
                                    Collaborated on analyzing data to identify factors that 
                                    exhibited a stronger correlation with higher grades in various subjects, including math, 
                                    reading, and writing. 
                                    <br>
                                    <br>
                                    Contribution:
                                    <br>
                                    - employed a range of techniques such as regularized models, ensemble methods, and cross-validation 
                                    to ensure accurate outputs from our regressions
                                    <br>
                                    - showcased my presentation skills by effectively communicating our findings and results to the audience
                                </p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class = "box">
                    <div class = "content">
                        <div class = "front">
                            <div class = "dates" style = "font-family: 'Julius Sans One', sans-serif; margin-top: 20px; font-size: 15px;">
                                Role: Full-stack Developer
                            </div>
                            <div class = "boxTitle">
                                ReynoDance Academy
                            </div>
                        </div>
                        <div class= "back">
                            <div class = "paragraph">
                                <p> Tech Stack:
                                    <br>
                                    Python, Javascript, HTML/CSS
                                    <br>
                                    <br>
                                    Summary:
                                    <br>
                                    Designed and developed a website catering to dance students that featured a user-friendly interface 
                                    allowing students to receive announcements, register for classes, and access general information 
                                    about the dance academy. Additionally, the website provided instructors with the capability to post 
                                    announcements and access student information. 
                                    <br>
                                    <br>
                                    Contribution:
                                    <br>
                                     
                            </p>
                            </div>
                        </div>
                    </div>
                </div>
            
                <div class = "box">
                    <div class = "content">
                        <div class = "front">
                            <div class = "dates" style = "font-family: 'Julius Sans One', sans-serif; margin-top: 20px; font-size: 15px;">
                                Role: Project Manager &amp; Proposal Writer
                            </div>
                            <div class = "boxTitle">
                                Sched-U-Bowl
                            </div>
                        </div>
                        <div class= "back">
                            <div class = "paragraph">
                                <p> Tech Stack:
                                    <br>
                                    Python
                                    <br>
                                    <br>
                                    Summary:
                                    <br>
                                    The project aimed to create a bowling alley system that simplified the lane 
                                    reservation process, removing the uncertainty surrounding lane availability 
                                    once customers arrived at the bowling alley.
                                    <br>
                                    <br>
                                    Contribution:
                                    <br>
                                    - served as the project manager and proposal writer, taking on the responsibility 
                                    of organizing the team to ensure the project's timely completion
                                    <br>
                                    - successfully resolved conflicts that arose during the development process, fostering 
                                    a collaborative environment
                                    <br>
                                    - strengthened my presentation skills by delivering compelling 
                                    presentations via video and in-person, effectively conveying the project's 
                                    goals, underlying reasons, and our approach to achieving them 
                                    <br>
                                    - authored the proposal for this software engineering project
                                    <br>
                                    - gained valuable experience by going through the entire software development life cycle. 
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </body>
</html>
