<!DOCTYPE html>
<html>
    <head>
    <title>Andrea Lopez</title>
    <link rel="stylesheet" type="text/css" href="../static/stylesheets/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="apple-touch-icon" sizes="180x180" href="../static/images/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../static/images/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../static/images/favicon-16x16.png">
    <link rel="manifest" href="../static/images/site.webmanifest">
    </head>

    <body>
        <div class="skill">
            <div class="outer">
                <div class="inner">
                    <div id="number">

                    </div>
                </div>  
            </div>
            <svg xmlns="http://www.w3.org/2000/svg" version="1.1" 
            width="160px" height="160px" >
                <defs>
                    <linearGradient id="GradientColor">
                        <stop offset="0%" stop-color="#006341" />
                        <stop offset="40%" stop-color="white" />
                        <stop offset="60%" stop-color="white" />
                        <stop offset="100%" stop-color="#C8102E" />
                    </linearGradient>
                </defs>
                <circle cx="80" cy="80" r="70" stroke-linecap="round"/>
            </svg>
        </div>

        <script> 
            let number = document.getElementById("number");
            let counter = 0;
            let intervalId = setInterval(() => {
                if(counter == 100){
                    clearInterval(intervalId);
                    window.location.href = "/home";
                }
                else{
                    counter += 1;
                    number.innerHTML = counter + "%";
                }
            }, 18.5)
        </script>

    </body>
</html>

