<!DOCTYPE html>

<html>
    <head>
        <meta charset="UTF-8">
        <title>Resume</title>
        <link rel="stylesheet" type="text/css" href="../static/stylesheets/resume.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    </head>

    <body>
        <button type="button" class="close" onclick="closeResumePopup()">
            <i class="fas fa-times" style="color: #CC0000;"></i>
        </button>
        <h1>Resume</h1>
        <h2>upload actual resume, add a button for it to be downloaded</h2>
    </body>
</html>
