<!DOCTYPE html>

<html>
    <head>
        <meta charset="UTF-8">
        <title>Resume</title>
        <link rel="stylesheet" type="text/css" href="../static/stylesheets/resume.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    </head>

    <body>
        <button type="button" class="close" onclick="closeResumePopup()">
            <i class="fas fa-times" style="color: #CC0000;"></i>
        </button>
            <div class = "resume">
                Resume
            </div>

            <div class = "pdf">
                <img src="{{ url_for('static', filename='images/resume.png') }}" alt = "Resume" width= "300" height = "420">
            </div>

            <div class = "rb">
                <div class = "inside">
                    <a href="{{ url_for('static', filename='images/resume.pdf') }}" download>
                        <button class = "style" type="button">
                            <i class="fas fa-download" style="color: #CC0000; font-size: 20px;"></i>
                            <span class = "text" style = "font-size: 16px; color: black;">Download Resume</span>
                        </button>
                    </a>
                </div>
            </div>

    </body>
</html>
